################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthServer/AuthServer/bin/Debug
/AuthServer/AuthServer/obj/Debug
/AuthServer/AuthServer.Infrastructure/obj
/AuthServer/AuthServer.Infrastructure/bin/Debug/netcoreapp3.1
/Spa/oauth-client/node_modules
/Resource.Api/Resource.Api/bin/Debug/netcoreapp3.1
/Resource.Api/Resource.Api/obj/Debug/netcoreapp3.1
/Resource.Api/Resource.Api/obj
/AuthServer/.vs/AuthServer
