################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthServer/AuthServer/bin/Debug
/AuthServer/AuthServer/obj/Debug
/AuthServer/AuthServer.Infrastructure/obj
/AuthServer/AuthServer.Infrastructure/bin/Debug/netcoreapp3.1
/Spa/oauth-client/node_modules
/Resource.Api/Resource.Api/bin/Debug/netcoreapp3.1
/Resource.Api/Resource.Api/obj/Debug/netcoreapp3.1
/Resource.Api/Resource.Api/obj
/AuthServer/.vs/AuthServer
/Services/Order/obj/Debug/net6.0
/Resource.Api/.vs/Resource.Api
/Services/Product/obj/Debug/net6.0
/Identityserver/AuthServer/obj/Debug/net5.0
/Identityserver/AuthServer.Infrastructure/obj/Debug/netcoreapp3.1
/Services/Resource.Api/obj/Debug/netcoreapp3.1
/.vs/Microservices/DesignTimeBuild
/.vs/Microservices/project-colors.json
*.suo
*.user
_ReSharper.*
bin
obj
packages
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Microservices/v17/.futdcache.v1
/.vs/Microservices/FileContentIndex
/Services/Product/ProductApi/logs
/Services/Order/OrderApi/logs
/.vs
/Identityserver/AuthServerInfrastructure/Properties
/Services/Order/OrderApi/Properties/PublishProfiles
/Services/Payment/PaymentApi/logs
/PaymentGrpcService/logs
/Helathcheck/logs
/InventoryGrpcService/logs
